Hi <%= @user.name %>, <br/><br/>

Team Name : <%= @team.name %><br/><br/>

<h3>Shift Detail : </h3><br/>

Day : <%= @shift.day %><br/>
Timing From : <%= @shift.from %><br/>
Timing To  : <%= @shift.to %><br/><br/>

Thank you.
